<h1>TicTakToe</h1>

<form name="board" id="board">
  <table>
    <tr id="top">
      <td><input name="move" value="" id="c6"></td> 
      <td><input name="move" value="" id="c7"></td>  
      <td><input name="move" value="" id="c8"></td>  
    </tr>

    <tr id="middle">
      <td><input name="move" value="" id="c3"></td>  
      <td><input name="move" value="" id="c4"></td>  
      <td><input name="move" value="" id="c5"></td>  
    </tr>

    <tr id="bottom">
      <td><input name="move" value="" id="c0"></td>  
      <td><input name="move" value="" id="c1"></td>  
      <td><input name="move" value="" id="c2"></td>  
    </tr>
  </table>
</form>

<div id="result"></div>


